header {
  color: white;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index:1000;
}

header a:visited, footer a:visited {
  color:#FFFFFF;
}

header nav, footer nav {
  display: flex;
  margin-left: 50px;
}

header p, footer p {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
}

.toplink {
  color: #FFFFFF;


}

.toplink:hover {
  color: #ffffff;
  background-color: #383737;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('stockmachinephoto.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
}

.jumbotron h2 {
  font-size: 64px;
  font-weight: 900;
  color: #fff;
  font-family: 'Julius Sans One', Arial, sans-serif;
}

.jumbotron h3 {  
  font-weight: 900;
  color: white;
  font-family: 'Julius Sans One', Arial, sans-serif;
}

.topfix a {
  position: absolute;
  top: -100px;
}

p {
  font-size: 16px;
  line-height: 1.75em;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

.bottom { 
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;
  padding-bottom: 60px;
}

.bottom-no-border { 
  padding-bottom: 60px;
}

.middle {
  padding-top: 25px;
}

.top {
  padding-top: 60px;
}

.colorbar {
  background-color: #64AEAE;
  color: white;
  margin-top: -30px;
}

footer {
  color: white;
  background-color: black;
  width: 100%;
}

.category {
  font-size: 18px;
  font-style: bold;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', Arial, sans-serif;
  letter-spacing: .01em;
  position: relative;
}

.category a {
  position: absolute;
  top: -100px;
}

.cpplink a {
  position: relative;
}

.cpplink a:active {
  top: 1px;
}
